body {
    background-color: black;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /*font-family: */
}
.main {
    display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      border: 2px solid #ccc; 
      padding: 20px;
      max-width: 1000px; 
      width: 100%;
}

.logo {
    color: aqua;
    margin: 20px;
    
}


@media (max-width = 600px) {
    .main {
    flex-direction: column;
    }
}