body {
    background-color: black;
    margin: 0;
    height: 100vh;
}

h1 {
    user-select: none;
    padding-top: 3vh;
    color: white;
    font-family: "dosis";
    font-weight: 100;
    font-size: x-large;
    text-align: center;
}


.flex-container {
    margin-top: 25vh;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    
}
.flex-item {
    background-color: rgba(143, 143, 143, 0.295);
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
    text-align: center;
    transition: 0.5s;
}

.flex-item:hover {
    background-color: rgba(209, 209, 209, 0.377);
    cursor: pointer;
    width:11rem;
    height: 11rem;
    border: 10px;
}

.item-logo-img {
    padding-top: 2rem;
    height: 60%;
}

@media all and (max-width: 560px) {
    .flex-container {
        margin-top: 5vh;
        gap: 2rem
    }

}
